:root {
  --pico-border-radius: 2rem;
}

details.dropdown > summary + ul li a {
  border-radius: var(--pico-border-radius);
}

.layout-wrapper {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

.layout-main {
  flex: 1;
  display: flex;
}
