.auth {
  flex: 1;
  gap: 50px;
}

.auth__card {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
  border: transparent 1px solid;
  cursor: pointer;
  transition: border 1s ease;
}

.auth__card:hover {
  border: var(--pico-primary-hover) 2px solid;
}
